Repository actions/typescript-action: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label, Add test label, Remove test label

Add source label:
  label:
    add:
    - source

Remove source label:
  label:
    remove:
    - source

Add configuration label:
  label:
    add:
    - configuration

Remove configuration label:
  label:
    remove:
    - configuration

Add documentation label:
  label:
    add:
    - documentation

Remove documentation label:
  label:
    remove:
    - documentation

Add test label:
  label:
    add:
    - test

Remove test label:
  label:
    remove:
    - test

Update copilot instructions to remove deleted files
  .github/copilot-instructions.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

fix: ensure dist directory is cleared before packaging
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

npm audit fix
  package-lock.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

fix: remove dist/ directory before installing dependencies
  .github/workflows/check-dist.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Rebuild dist
  dist/index.js
  dist/index.js.map
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

Implement platform agnostic directory deletion
  .github/workflows/check-dist.yml
  dist/index.js
  dist/index.js.map
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

re-add dist
  dist/index.js
  dist/index.js.map
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

Create SECURITY.md for security policy
  SECURITY.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

Fail fast on missing input and add debug logs
  __fixtures__/core.ts
  __tests__/main.test.ts
  src/main.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

Add minimal test for Pull Request Labeler action
  __tests__/main.test.ts
  __tests__/wait.test.ts
  action.yml
  package-lock.json
  rollup.config.ts
  src/index.ts
  src/main.ts
  src/wait.ts
Due: Add source label, Add configuration label, Remove documentation label, Remove test label

Remove duplicate extension
  .devcontainer/devcontainer.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Add recommended extensions
  .vscode/extensions.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Update ESLint to 10
  eslint.config.mjs
  package-lock.json
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Update @actions/core
  dist/index.js
  dist/index.js.map
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Path conditions:
  Add source label: any of: ^src/
  Remove source label: not (any of: ^src/)
  Add configuration label: ((any of: \.yml$) or (any of: \.json$)) or (any of: \.config.ts$)
  Remove configuration label: ((not (any of: \.yml$)) and (not (any of: \.json$))) and (not (any of: \.config.ts$))
  Add documentation label: (any of: \.md$) or (any of: \.png$)
  Remove documentation label: (not (any of: \.md$)) and (not (any of: \.png$))
  Add test label: any of: ^test/
  Remove test label: not (any of: ^test/)
