Repository actions/typescript-action: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label, Add test label, Remove test label

.mergify.yml:

# doc: https://docs.mergify.com
---

pull_request_rules:

  - name: Automatic merge (squash) on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=check-dist
      - check-success=CodeQL
      - check-success=Linters
      - check-success=Super Linter
      - check-success=Unit Tests - Node.js (16.x)
      - check-success=Unit Tests - Node.js (18.x)
      - -draft
      - label!=dont-merge
      - "label!=merge-strategy: rebase"
      - -title~=(?i)wip
      - base=main
    actions:
      merge:
        method: squash

  - name: Automatic merge (rebase) on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=check-dist
      - check-success=CodeQL
      - check-success=Linters
      - check-success=Super Linter
      - check-success=Unit Tests - Node.js (16.x)
      - check-success=Unit Tests - Node.js (18.x)
      - -draft
      - label!=dont-merge
      - "label=merge-strategy: rebase"
      - -title~=(?i)wip
      - base=main
    actions:
      merge:
        method: rebase
        rebase_fallback: none

  - name: Delete head branch after merge
    conditions:
      - head!=main
      - merged
    actions:
      delete_head_branch:

  # --- --- Labels --- --- #

  - name: Add source label
    conditions:
      - files~=^src/
    actions:
      label:
        add:
          - source

  - name: Remove source label
    conditions:
      - -files~=^src/
    actions:
      label:
        remove:
          - source

  # --- #

  - name: Add configuration label
    conditions:
      - or:
          - files~=\.yml$
          - files~=\.json$
          - files~=\.config.ts$
    actions:
      label:
        add:
          - configuration

  - name: Remove configuration label
    conditions:
      - and:
          - -files~=\.yml$
          - -files~=\.json$
          - -files~=\.config.ts$
    actions:
      label:
        remove:
          - configuration

  # --- #

  - name: Add documentation label
    conditions:
      - or:
          - files~=\.md$
          - files~=\.png$
    actions:
      label:
        add:
          - documentation

  - name: Remove documentation label
    conditions:
      - and:
          - -files~=\.md$
          - -files~=\.png$
    actions:
      label:
        remove:
          - documentation

  # --- #

  - name: Add test label
    conditions:
      - files~=^test/
    actions:
      label:
        add:
          - test

  - name: Remove test label
    conditions:
      - -files~=^test/
    actions:
      label:
        remove:
          - test

...

Switch conditional to github.actor
  .github/workflows/update-dist.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Regenerate dist
  dist/index.js.map
  dist/sourcemap-register.js
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

Update Node recommendation in README
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

Update example tests
  __tests__/index.test.ts
  __tests__/wait.test.ts
  badges/coverage.svg
  dist/index.js
  src/index.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

Remove TODO from README
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

Switch Node versioning to engines
  .node-version
  README.md
  package-lock.json
  package.json
Due: Remove source label, Add configuration label, Add documentation label, Remove test label

Update node version in actions
  .github/workflows/check-dist.yml
  .github/workflows/ci.yml
  .github/workflows/linter.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Add action typings
  .github/workflows/ci.yml
  action-types.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Update "main" to "exports"
  package-lock.json
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Fix ordering of devDependencies
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

add compiled files dir to .eslintignore
  .eslintignore
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

fixes #755
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

- fixes #757
  tsconfig.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

- bumps node version in package.sjon
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

- bumps node version in actions.yml
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

- bumps node version in package lock
  package-lock.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

- bumps node version in readme
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

Switch entrypoint and main functionality
  README.md
  __tests__/index.test.ts
  __tests__/main.test.ts
  dist/index.js
  src/index.ts
  src/main.ts
Due: Add source label, Remove configuration label, Add documentation label, Remove test label

Update index.js
  dist/index.js
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

Update main.test.ts to actually mock the GitHub Actions core library
  __tests__/main.test.ts
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

Move coverage to separate script
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

first pass - minor tweaks and status badges
  .gitattributes
  .github/CODEOWNERS
  .prettierignore
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

lint
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

use a .node-version file
  .github/workflows/check-dist.yml
  .github/workflows/ci.yml
  .github/workflows/linter.yml
  .node-version
  README.md
Due: Remove source label, Add configuration label, Add documentation label, Remove test label

update workflow triggers and permissions
  .github/workflows/ci.yml
  .github/workflows/linter.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

add coverage badge to the readme
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

whitespace
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

jest.spyOn GitHub core methods to clean up the test output
  __tests__/main.test.ts
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

add back `statuses: write`
  .github/workflows/linter.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

add GrantBirki/json-yaml-validate
  .github/config/exclude.txt
  .github/workflows/json-yaml-validate.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

fix markdown list
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

rename new workflow
  .github/workflows/json-yaml-validate.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

add branding section
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

add release helper script
  script/release
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

executable
  script/release
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

add inline notes
  script/release
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

update release script for first time use
  script/release
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

update readme
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

appease the linter
  script/release
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

fix release script
  script/release
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label
