Repository actions/typescript-action: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label, Add test label, Remove test label

Add source label:
  label:
    add:
    - source

Remove source label:
  label:
    remove:
    - source

Add configuration label:
  label:
    add:
    - configuration

Remove configuration label:
  label:
    remove:
    - configuration

Add documentation label:
  label:
    add:
    - documentation

Remove documentation label:
  label:
    remove:
    - documentation

Add test label:
  label:
    add:
    - test

Remove test label:
  label:
    remove:
    - test

debug: log errors
  dist/index.js
  dist/index.js.map
  src/index.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

fix: s3 client init
  dist/index.js
  dist/index.js.map
  src/index.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

fix: read undefined when object does not exist
  dist/index.js
  dist/index.js.map
  src/index.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

fix: dest paths
  dist/index.js
  dist/index.js.map
  src/index.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

feat: generate catalog URL
  action.yml
  dist/index.js
  dist/index.js.map
  src/index.ts
Due: Add source label, Add configuration label, Remove documentation label, Remove test label

feat: add public_endpoint input
  action.yml
  dist/index.js
  dist/index.js.map
  src/index.ts
Due: Add source label, Add configuration label, Remove documentation label, Remove test label

fix: remove version from URL
  dist/index.js
  dist/index.js.map
  src/index.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

feat!: add minimum_engine_version input parameter
  action.yml
  dist/index.js
  dist/index.js.map
  src/index.ts
Due: Add source label, Add configuration label, Remove documentation label, Remove test label

Rebuild package
  .github/linters/.eslintrc.yml
  .node-version
  package-lock.json
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Add @github/local-action and documentation
  .env.example
  .gitignore
  .vscode/launch.json
  README.md
  package-lock.json
  package.json
Due: Remove source label, Add configuration label, Add documentation label, Remove test label

#sudo su Update README.md
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

fix: CatalogVersion definition
  dist/index.js.map
  src/registry.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

feat: write catalog-info.yaml to the bucket
  dist/index.js
  dist/index.js.map
  src/index.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

chore: learn
  .github/workflows/pull-request-test.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Revert "Bump the npm-development group with 2 updates"
  package-lock.json
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Create deno.yml
  .github/workflows/deno.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

feat: add node spec version 2
  dist/index.js
  dist/index.js.map
  src/schemas.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

Extend @typescript-eslint/recommended-type-checked instead of eslint-recommended and recommended
  .github/linters/.eslintrc.yml
  __tests__/index.test.ts
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

feat: make specVersion optional
  dist/index.js
  dist/index.js.map
  src/schemas.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

Rebuild dist
  dist/index.js
  dist/sourcemap-register.js
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

Rebuild dist
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

Create .eslintrc.json
  .eslintrc.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Add basic release management
  .github/workflows/check-dist.yml
  .github/workflows/continuous-delivery.yml
  .github/workflows/continuous-integration.yml
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Add basic release management
  .github/workflows/check-dist.yml
  .github/workflows/continuous-delivery.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/version-check.yml
  .gitignore
  README.md
  package-lock.json
  package.json
  script/release
Due: Remove source label, Add configuration label, Add documentation label, Remove test label

Remove reporting
  .github/workflows/continuous-integration.yml
  package-lock.json
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Revert name change
  .github/workflows/check-dist.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Add checks write permission
  .github/workflows/check-dist.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Change example node version manager to match description of .node-version
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

Reconfigure linters for ESM
  .eslintignore
  .github/linters/.eslintrc.yml
  .github/linters/tsconfig.json
  .github/workflows/linter.yml
  .markdown-lint.yml
  .prettierignore
  .prettierrc.json
  .prettierrc.yml
  .yaml-lint.yml
  eslint.config.mjs
  package.json
  tsconfig.base.json
  tsconfig.eslint.json
  tsconfig.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Convert to ESM
  .node-version
  __fixtures__/core.ts
  __fixtures__/wait.ts
  __tests__/index.test.ts
  __tests__/main.test.ts
  __tests__/wait.test.ts
  jest.config.ts
  package-lock.json
  package.json
  rollup.config.ts
  src/index.ts
  src/main.ts
  src/wait.ts
Due: Add source label, Add configuration label, Remove documentation label, Remove test label

Minor formatting changes
  CODEOWNERS
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Rebuild dist
  dist/index.d.ts
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  dist/main.d.ts
  dist/sourcemap-register.js
  dist/wait.d.ts
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

Disable linters incompatible with ESLint 9
  .github/workflows/linter.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

refactor!: remove dev property and retrieve from version tag instead
  action.yml
  src/index.ts
Due: Add source label, Add configuration label, Remove documentation label, Remove test label

chore: update actions/upload-artifact to v4
  .github/workflows/check-dist.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

use package.json node version
  .github/workflows/check-dist.yml
  .github/workflows/ci.yml
  .github/workflows/linter.yml
  .node-version
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Rebuild dist
  dist/index.js
  dist/index.js.map
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

Add package for Actions build
  package-lock.json
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Fix nodejs version with respecting the runs.using
  .github/dependabot.yml
  .node-version
  package-lock.json
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

fix typo comments
  script/release
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

Path conditions:
  Add source label: any of: ^src/
  Remove source label: not (any of: ^src/)
  Add configuration label: ((any of: \.yml$) or (any of: \.json$)) or (any of: \.config.ts$)
  Remove configuration label: ((not (any of: \.yml$)) and (not (any of: \.json$))) and (not (any of: \.config.ts$))
  Add documentation label: (any of: \.md$) or (any of: \.png$)
  Remove documentation label: (not (any of: \.md$)) and (not (any of: \.png$))
  Add test label: any of: ^test/
  Remove test label: not (any of: ^test/)
