Repository actions/typescript-action: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label, Add test label, Remove test label

Add source label:
  label:
    add:
    - source

Remove source label:
  label:
    remove:
    - source

Add configuration label:
  label:
    add:
    - configuration

Remove configuration label:
  label:
    remove:
    - configuration

Add documentation label:
  label:
    add:
    - documentation

Remove documentation label:
  label:
    remove:
    - documentation

Add test label:
  label:
    add:
    - test

Remove test label:
  label:
    remove:
    - test

Disable dotenv linter on example file
  .env.example
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

Lower node version
  .node-version
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

Set node version in package.json
  jest.config.js
  package-lock.json
  package.json
  tsconfig.eslint.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Update linter config
  .github/workflows/linter.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Rebuild dist
  dist/index.js
  dist/index.js.map
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

Pin '@types/node' with 20.x again
  package-lock.json
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Fix error during initial release script run
  script/release
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

replace ncc with rollup in readme
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

update word wrapping
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

Initial implementation
  .actrc
  .vscode/settings.json
  CODEOWNERS
  README.md
  __fixtures__/exec.ts
  __fixtures__/wait.ts
  __tests__/main.test.ts
  __tests__/wait.test.ts
  action.yml
  dist/index.js
  dist/index.js.map
  package-lock.json
  package.json
  src/main.ts
  src/wait.ts
Due: Add source label, Add configuration label, Add documentation label, Remove test label

Disable sourcemap generation
  dist/index.js
  dist/index.js.map
  rollup.config.ts
  tsconfig.base.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Fix sourcemap generation
  dist/index.js
  dist/index.js.map
  rollup.config.ts
  tsconfig.base.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Add license and sourcemap generation
  .github/workflows/licensed.yml
  .licensed.yml
  .licenses/npm/@fastify/busboy.dep.yml
  .licenses/npm/tunnel.dep.yml
  .licenses/npm/undici.dep.yml
  README.md
  dist/index.js.map
  rollup.config.ts
  tsconfig.base.json
Due: Remove source label, Add configuration label, Add documentation label, Remove test label

Auto-update license files
  .licenses/npm/@actions/core.dep.yml
  .licenses/npm/@actions/exec.dep.yml
  .licenses/npm/@actions/http-client.dep.yml
  .licenses/npm/@actions/io.dep.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Ignore license directory
  .github/workflows/licensed.yml
  .prettierignore
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Ignore licenses path by linter
  .yaml-lint.yml
  README.md
Due: Remove source label, Add configuration label, Add documentation label, Remove test label

Replaced deprecated action
  .github/workflows/licensed.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Fix name reference
  package-lock.json
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Fix reference
  .vscode/launch.json
  README.md
Due: Remove source label, Add configuration label, Add documentation label, Remove test label

update codeowners
  CODEOWNERS
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

add initial code
  package.json
  src/main.ts
Due: Add source label, Add configuration label, Remove documentation label, Remove test label

cleanup code
  src/main.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

remove wait
  __tests__/wait.test.ts
  src/wait.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

adjust prettier
  .prettierrc.yml
  __fixtures__/core.ts
  eslint.config.mjs
  jest.config.js
  rollup.config.ts
  src/index.ts
  src/main.ts
Due: Add source label, Add configuration label, Remove documentation label, Remove test label

remove wait
  __fixtures__/wait.ts
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

update action
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

fix input somehow
  .github/workflows/ci.yml
  CODEOWNERS
  src/main.ts
Due: Add source label, Add configuration label, Remove documentation label, Remove test label

update dist
  dist/index.js
  dist/index.js.map
  dist/main.d.ts
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

Fix version conflicts
  badges/coverage.svg
  package-lock.json
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

chore: disable declaration file generation
  tsconfig.base.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

chore: delete declaration files
  dist/wait.d.ts
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

chore: delete declaration files
  dist/main.d.ts
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

chore: delete declaration files
  dist/index.d.ts
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

Rebuild dist
  .node-version
  dist/index.js
  dist/index.js.map
  package-lock.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

windows support via cross-env
  package-lock.json
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Path conditions:
  Add source label: any of: ^src/
  Remove source label: not (any of: ^src/)
  Add configuration label: ((any of: \.yml$) or (any of: \.json$)) or (any of: \.config.ts$)
  Remove configuration label: ((not (any of: \.yml$)) and (not (any of: \.json$))) and (not (any of: \.config.ts$))
  Add documentation label: (any of: \.md$) or (any of: \.png$)
  Remove documentation label: (not (any of: \.md$)) and (not (any of: \.png$))
  Add test label: any of: ^test/
  Remove test label: not (any of: ^test/)
