Repository actions/typescript-action: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label, Add test label, Remove test label

.mergify.yml:

# doc: https://docs.mergify.com
---

pull_request_rules:

  - name: Automatic merge (squash) on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=check-dist
      - check-success=CodeQL
      - check-success=Linters
      - check-success=Super Linter
      - check-success=Unit Tests - Node.js (16.x)
      - check-success=Unit Tests - Node.js (18.x)
      - -draft
      - label!=dont-merge
      - "label!=merge-strategy: rebase"
      - -title~=(?i)wip
      - base=main
    actions:
      merge:
        method: squash

  - name: Automatic merge (rebase) on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=check-dist
      - check-success=CodeQL
      - check-success=Linters
      - check-success=Super Linter
      - check-success=Unit Tests - Node.js (16.x)
      - check-success=Unit Tests - Node.js (18.x)
      - -draft
      - label!=dont-merge
      - "label=merge-strategy: rebase"
      - -title~=(?i)wip
      - base=main
    actions:
      merge:
        method: rebase
        rebase_fallback: none

  - name: Delete head branch after merge
    conditions:
      - head!=main
      - merged
    actions:
      delete_head_branch:

  # --- --- Labels --- --- #

  - name: Add source label
    conditions:
      - files~=^src/
    actions:
      label:
        add:
          - source

  - name: Remove source label
    conditions:
      - -files~=^src/
    actions:
      label:
        remove:
          - source

  # --- #

  - name: Add configuration label
    conditions:
      - or:
          - files~=\.yml$
          - files~=\.json$
          - files~=\.config.ts$
    actions:
      label:
        add:
          - configuration

  - name: Remove configuration label
    conditions:
      - and:
          - -files~=\.yml$
          - -files~=\.json$
          - -files~=\.config.ts$
    actions:
      label:
        remove:
          - configuration

  # --- #

  - name: Add documentation label
    conditions:
      - or:
          - files~=\.md$
          - files~=\.png$
    actions:
      label:
        add:
          - documentation

  - name: Remove documentation label
    conditions:
      - and:
          - -files~=\.md$
          - -files~=\.png$
    actions:
      label:
        remove:
          - documentation

  # --- #

  - name: Add test label
    conditions:
      - files~=^test/
    actions:
      label:
        add:
          - test

  - name: Remove test label
    conditions:
      - -files~=^test/
    actions:
      label:
        remove:
          - test

...

prod dependencies
  action.yml
  dist/index.js
  dist/index.js.map
  src/main.ts
Due: Add source label, Add configuration label, Remove documentation label, Remove test label

some commit
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

add reading time calculator
  .github/workflows/reading-time.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

fix: a string with numbers gets typecasted into number, but compared with a string
  dist/index.js
  dist/index.js.map
  src/main.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

action.yml: add outputs of the action (time)
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

test.yml: add example usage of step output
  .github/workflows/test.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

update node to latest dependencies
  dist/index.js
  dist/index.js.map
  dist/sourcemap-register.js
  package-lock.json
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Update npm devDependencies to latest (#651)
  dist/index.js
  dist/index.js.map
  dist/sourcemap-register.js
  package-lock.json
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Update package.json prettier paths
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

use git diff --cached in diff check action
  .github/workflows/check-dist.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

git add -N and no --cached
  .github/workflows/check-dist.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Update check-dist.yml
  .github/workflows/check-dist.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Add new feature
  action.yml
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Add new feature
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Add new feature
  .github/workflows/test.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Added getWorkspaceId
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  package-lock.json
  package.json
  src/create-run.ts
  src/main.ts
Due: Add source label, Add configuration label, Remove documentation label, Remove test label

Added getWorkspaceId
  package-lock.json
  package.json
  src/create-run.ts
Due: Add source label, Add configuration label, Remove documentation label, Remove test label

Added getWorkspaceId
  src/create-run.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

Update test.yml
  .github/workflows/test.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

commit
  src/create-run.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

commit
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

commit
  .github/workflows/test.yml
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

commit
  src/main.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

commit
  dist/index.js
  dist/index.js.map
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

debug stmts
  src/create-run.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

debug stmts
  dist/index.js
  dist/index.js.map
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

debug stmts
  dist/index.js
  dist/index.js.map
  src/create-run.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

debug stmts
  dist/index.js
  dist/index.js.map
  src/main.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label
