Repository actions/typescript-action: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label, Add test label, Remove test label

.mergify.yml:

# doc: https://docs.mergify.com
---

pull_request_rules:

  - name: Automatic merge (squash) on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=check-dist
      - check-success=CodeQL
      - check-success=Linters
      - check-success=Super Linter
      - check-success=Unit Tests - Node.js (16.x)
      - check-success=Unit Tests - Node.js (18.x)
      - -draft
      - label!=dont-merge
      - "label!=merge-strategy: rebase"
      - -title~=(?i)wip
      - base=main
    actions:
      merge:
        method: squash

  - name: Automatic merge (rebase) on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=check-dist
      - check-success=CodeQL
      - check-success=Linters
      - check-success=Super Linter
      - check-success=Unit Tests - Node.js (16.x)
      - check-success=Unit Tests - Node.js (18.x)
      - -draft
      - label!=dont-merge
      - "label=merge-strategy: rebase"
      - -title~=(?i)wip
      - base=main
    actions:
      merge:
        method: rebase
        rebase_fallback: none

  - name: Delete head branch after merge
    conditions:
      - head!=main
      - merged
    actions:
      delete_head_branch:

  # --- --- Labels --- --- #

  - name: Add source label
    conditions:
      - files~=^src/
    actions:
      label:
        add:
          - source

  - name: Remove source label
    conditions:
      - -files~=^src/
    actions:
      label:
        remove:
          - source

  # --- #

  - name: Add configuration label
    conditions:
      - or:
          - files~=\.yml$
          - files~=\.json$
          - files~=\.config.ts$
    actions:
      label:
        add:
          - configuration

  - name: Remove configuration label
    conditions:
      - and:
          - -files~=\.yml$
          - -files~=\.json$
          - -files~=\.config.ts$
    actions:
      label:
        remove:
          - configuration

  # --- #

  - name: Add documentation label
    conditions:
      - or:
          - files~=\.md$
          - files~=\.png$
    actions:
      label:
        add:
          - documentation

  - name: Remove documentation label
    conditions:
      - and:
          - -files~=\.md$
          - -files~=\.png$
    actions:
      label:
        remove:
          - documentation

  # --- #

  - name: Add test label
    conditions:
      - files~=^test/
    actions:
      label:
        add:
          - test

  - name: Remove test label
    conditions:
      - -files~=^test/
    actions:
      label:
        remove:
          - test

...

Create try.bash
  try.bash
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

Create first version of github action
  .env.example
  .vscode/launch.json
  action.yml
  package-lock.json
  src/codeclarity.ts
  src/main.ts
  src/wait.ts
Due: Add source label, Add configuration label, Remove documentation label, Remove test label

Modify ci.yml test
  .github/workflows/ci.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Compile
  .github/workflows/ci.yml
  dist/index.js
  dist/index.js.map
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Use env vars
  .github/workflows/ci.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Move env var location
  .github/workflows/ci.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Udpate ci.cml env var configuration
  .github/workflows/ci.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Disable tests for now
  __fixtures__/wait.ts
  __tests__/main.test.ts
  __tests__/wait.test.ts
  badges/coverage.svg
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

Update action.yml
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Remove code owners
  CODEOWNERS
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

Create project if not already imported
  src/codeclarity.ts
  src/main.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

Update ci.yml configuration
  .github/workflows/ci.yml
  badges/coverage.svg
  dist/index.js
  dist/index.js.map
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Update package.json
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Fetch results
  action.yml
  src/codeclarity.ts
  src/main.ts
Due: Add source label, Add configuration label, Remove documentation label, Remove test label

Update ci config
  .github/workflows/ci.yml
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Fix retry condition
  src/codeclarity.ts
  src/main.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

Update version
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Set v0
  badges/coverage.svg
  dist/index.js
  dist/index.js.map
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Rebuild dist
  README.md
  dist/index.js
  dist/index.js.map
  tsconfig.base.json
Due: Remove source label, Add configuration label, Add documentation label, Remove test label

Revert auto format
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

Rebuild
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

Rebuild dist
  dist/index.js
  dist/index.js.map
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

chore: update dependabot configuration and improve documentation links
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/linter.yml
  README.md
Due: Remove source label, Add configuration label, Add documentation label, Remove test label

chore: add Copilot guidelines for creating release notes and unit tests
  .github/copilot-instructions.md
  .github/prompts/create-release-notes.prompt.md
  .github/prompts/unit-test.prompt.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

chore: add initial configuration files for GitHub Copilot integration
  .vscode/mcp.json
  .vscode/settings.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Fix linting errors
  .github/codeql/codeql-config.yml
  .github/copilot-instructions.md
  .github/prompts/create-release-notes.prompt.md
  .github/workflows/codeql-analysis.yml
  .vscode/mcp.json
Due: Remove source label, Add configuration label, Add documentation label, Remove test label

Formatting
  README.md
  package-lock.json
  package.json
Due: Remove source label, Add configuration label, Add documentation label, Remove test label

Formatting
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

Fix MARKDOWN PRETTIER issues
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

Upgrade to node 24
  .node-version
  action.yml
  package-lock.json
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Add actionlint config
  .github/workflows/linter.yml
  actionlint.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Disable new linter
  .github/workflows/linter.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Set `tsconfigRootDir` to `__dirname` in ESLint config
  eslint.config.mjs
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

Update README.md/hazem19952025
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

refactor(wait): improve validation and readability without changing behavior
  src/wait.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

refactor(run): validate input and improve debug logs
  src/main.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

Disable checks for dist
  .github/workflows/linter.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Add custom checkov config
  .checkov.yml
  .github/workflows/linter.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Rebuild dist
  README.md
  dist/index.js
  dist/index.js.map
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

Switch to ESLint projectService
  eslint.config.mjs
  jest.config.js
  package-lock.json
  tsconfig.base.json
  tsconfig.eslint.json
  tsconfig.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label
