Repository actions/typescript-action: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label, Add test label, Remove test label

.mergify.yml:

# doc: https://docs.mergify.com
---

pull_request_rules:

  - name: Automatic merge (squash) on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=check-dist
      - check-success=CodeQL
      - check-success=Linters
      - check-success=Super Linter
      - check-success=Unit Tests - Node.js (16.x)
      - check-success=Unit Tests - Node.js (18.x)
      - -draft
      - label!=dont-merge
      - "label!=merge-strategy: rebase"
      - -title~=(?i)wip
      - base=main
    actions:
      merge:
        method: squash

  - name: Automatic merge (rebase) on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=check-dist
      - check-success=CodeQL
      - check-success=Linters
      - check-success=Super Linter
      - check-success=Unit Tests - Node.js (16.x)
      - check-success=Unit Tests - Node.js (18.x)
      - -draft
      - label!=dont-merge
      - "label=merge-strategy: rebase"
      - -title~=(?i)wip
      - base=main
    actions:
      merge:
        method: rebase
        rebase_fallback: none

  - name: Delete head branch after merge
    conditions:
      - head!=main
      - merged
    actions:
      delete_head_branch:

  # --- --- Labels --- --- #

  - name: Add source label
    conditions:
      - files~=^src/
    actions:
      label:
        add:
          - source

  - name: Remove source label
    conditions:
      - -files~=^src/
    actions:
      label:
        remove:
          - source

  # --- #

  - name: Add configuration label
    conditions:
      - or:
          - files~=\.yml$
          - files~=\.json$
          - files~=\.config.ts$
    actions:
      label:
        add:
          - configuration

  - name: Remove configuration label
    conditions:
      - and:
          - -files~=\.yml$
          - -files~=\.json$
          - -files~=\.config.ts$
    actions:
      label:
        remove:
          - configuration

  # --- #

  - name: Add documentation label
    conditions:
      - or:
          - files~=\.md$
          - files~=\.png$
    actions:
      label:
        add:
          - documentation

  - name: Remove documentation label
    conditions:
      - and:
          - -files~=\.md$
          - -files~=\.png$
    actions:
      label:
        remove:
          - documentation

  # --- #

  - name: Add test label
    conditions:
      - files~=^test/
    actions:
      label:
        add:
          - test

  - name: Remove test label
    conditions:
      - -files~=^test/
    actions:
      label:
        remove:
          - test

...

debug stmts
  dist/index.js
  dist/index.js.map
  src/create-run.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

test
  dist/index.js
  dist/index.js.map
  src/create-run.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

test
  src/create-run.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

test
  dist/index.js
  dist/index.js.map
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

fix: eslint & type test files
  .eslintrc.json
  __tests__/main.test.ts
  package.json
  tsconfig.build.json
  tsconfig.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

tests: sort imports
  __tests__/main.test.ts
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

fix: no-floating-promises
  src/main.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

chore: code format
  tsconfig.build.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

chore: build output
  dist/index.js
  dist/index.js.map
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

feat: use @tsconfig/node16
  dist/index.js
  dist/index.js.map
  package-lock.json
  package.json
  tsconfig.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

fix: use @types/node 16 instead of 18
  package-lock.json
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

chore: eslint update env to match node 16
  .eslintrc.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

fix diff in check-dist failing due to git detecting files under dist as binary
  .github/workflows/check-dist.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Update README.md with some small unifying changes
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

Move Jest config to package.json
  .eslintignore
  jest.config.js
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

Set dist/index as entrypoint
  .gitignore
  .prettierignore
  __tests__/main.test.ts
  action.yml
  package-lock.json
  package.json
  src/main.ts
  tsconfig.json
Due: Add source label, Add configuration label, Remove documentation label, Remove test label

Format CodeQL workflow
  .github/workflows/codeql-analysis.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Auto-label dependabot PRs
  .github/dependabot.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Create CI workflow and tests
  .github/workflows/ci.yml
  .github/workflows/test.yml
  .node-version
  __tests__/index.test.ts
  dist/index.js
  dist/index.js.map
  src/index.ts
  src/wait.ts
Due: Add source label, Add configuration label, Remove documentation label, Remove test label

Update prettier config
  .prettierrc.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Format check-dist workflow
  .github/workflows/check-dist.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Format CODEOWNERS
  CODEOWNERS
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

Add super-linter workflow
  .eslintrc.json
  .github/linters/.eslintrc.yml
  .github/linters/.markdown-lint.yml
  .github/linters/.yaml-lint.yml
  .github/workflows/linter.yml
  badges/coverage.svg
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Format and expand README
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

Install dependencies for linting
  .github/workflows/linter.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Reconfigure tsconfig and eslint
  .eslintignore
  .github/linters/.eslintrc.yml
  .github/linters/tsconfig.json
  .github/workflows/ci.yml
  .github/workflows/linter.yml
  .gitignore
  __tests__/index.test.ts
  dist/index.js
  dist/index.js.map
  package.json
  src/index.ts
  tsconfig.json
Due: Add source label, Add configuration label, Remove documentation label, Remove test label

Add ncalteen to CODEOWNERS
  CODEOWNERS
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

Update npm lint
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label
