Repository actions/typescript-action: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label, Add test label, Remove test label

Add source label:
  label:
    add:
    - source

Remove source label:
  label:
    remove:
    - source

Add configuration label:
  label:
    add:
    - configuration

Remove configuration label:
  label:
    remove:
    - configuration

Add documentation label:
  label:
    add:
    - documentation

Remove documentation label:
  label:
    remove:
    - documentation

Add test label:
  label:
    add:
    - test

Remove test label:
  label:
    remove:
    - test

fix
  .github/workflows/ci.yml
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Fix missing @jest/globals
  package-lock.json
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

address review comment
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Rebuild dist
  dist/index.js
  dist/index.js.map
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

Clarify comments
  .github/workflows/check-dist.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Fixing issues/893 - git diff command fails if _dist/_ folder doesn't exist
  .github/workflows/check-dist.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

hello world
  src/main.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

move `tag_regex` to variables section
  script/release
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

improve the git describe command
  script/release
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

terminate script when a command fails
  script/release
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

use `--follow-tags` flag to push to remote
  script/release
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

make the colored text bold
  script/release
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

remind user to update `version` field in package.json
  script/release
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

improve debug messages
  script/release
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

spell out the git command flags used
  script/release
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

update the major version tag when creating a new release
  script/release
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

consider the new release being a major release
  script/release
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

minor comment change
  script/release
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

update script steps
  script/release
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

update readme to reflect changes made
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

add link to action versioning recommendation
  script/release
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

update Publishing a New Release docs
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

improve var names and comments
  script/release
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

update Pushing changes to remote docs
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

Add URL output
  action.yml
  dist/index.js
  dist/index.js.map
  src/index.ts
Due: Add source label, Add configuration label, Remove documentation label, Remove test label

Create BizX Apex Walllet
  BizX Apex Walllet
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

Disable TS Standard
  .github/workflows/linter.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Remove deprecated option
  .github/workflows/linter.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

fix spacing in readme
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

Fix natural language error
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

fix: specv1 schema
  src/schemas.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

fix: make engineVersion optional
  src/schemas.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

ci: release
  dist/index.js
  dist/index.js.map
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

fix: add ./ for relative bundle import
  dist/index.js
  dist/index.js.map
  src/validation.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

fix: bypass dynamic import removal by bundler
  dist/index.js
  dist/index.js.map
  src/validation.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

feat: update catalog schema
  __tests__/validation.test.ts
  dist/index.js
  dist/index.js.map
  src/schemas.ts
  src/validation.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

fix: make region input truely optional
  action.yml
  dist/index.js
  dist/index.js.map
  src/index.ts
Due: Add source label, Add configuration label, Remove documentation label, Remove test label

Path conditions:
  Add source label: any of: ^src/
  Remove source label: not (any of: ^src/)
  Add configuration label: ((any of: \.yml$) or (any of: \.json$)) or (any of: \.config.ts$)
  Remove configuration label: ((not (any of: \.yml$)) and (not (any of: \.json$))) and (not (any of: \.config.ts$))
  Add documentation label: (any of: \.md$) or (any of: \.png$)
  Remove documentation label: (not (any of: \.md$)) and (not (any of: \.png$))
  Add test label: any of: ^test/
  Remove test label: not (any of: ^test/)
