Repository actions/typescript-action: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label, Add test label, Remove test label

.mergify.yml:

# doc: https://docs.mergify.com
---

pull_request_rules:

  - name: Automatic merge (squash) on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=check-dist
      - check-success=CodeQL
      - check-success=Linters
      - check-success=Super Linter
      - check-success=Unit Tests - Node.js (16.x)
      - check-success=Unit Tests - Node.js (18.x)
      - -draft
      - label!=dont-merge
      - "label!=merge-strategy: rebase"
      - -title~=(?i)wip
      - base=main
    actions:
      merge:
        method: squash

  - name: Automatic merge (rebase) on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=check-dist
      - check-success=CodeQL
      - check-success=Linters
      - check-success=Super Linter
      - check-success=Unit Tests - Node.js (16.x)
      - check-success=Unit Tests - Node.js (18.x)
      - -draft
      - label!=dont-merge
      - "label=merge-strategy: rebase"
      - -title~=(?i)wip
      - base=main
    actions:
      merge:
        method: rebase
        rebase_fallback: none

  - name: Delete head branch after merge
    conditions:
      - head!=main
      - merged
    actions:
      delete_head_branch:

  # --- --- Labels --- --- #

  - name: Add source label
    conditions:
      - files~=^src/
    actions:
      label:
        add:
          - source

  - name: Remove source label
    conditions:
      - -files~=^src/
    actions:
      label:
        remove:
          - source

  # --- #

  - name: Add configuration label
    conditions:
      - or:
          - files~=\.yml$
          - files~=\.json$
          - files~=\.config.ts$
    actions:
      label:
        add:
          - configuration

  - name: Remove configuration label
    conditions:
      - and:
          - -files~=\.yml$
          - -files~=\.json$
          - -files~=\.config.ts$
    actions:
      label:
        remove:
          - configuration

  # --- #

  - name: Add documentation label
    conditions:
      - or:
          - files~=\.md$
          - files~=\.png$
    actions:
      label:
        add:
          - documentation

  - name: Remove documentation label
    conditions:
      - and:
          - -files~=\.md$
          - -files~=\.png$
    actions:
      label:
        remove:
          - documentation

  # --- #

  - name: Add test label
    conditions:
      - files~=^test/
    actions:
      label:
        add:
          - test

  - name: Remove test label
    conditions:
      - -files~=^test/
    actions:
      label:
        remove:
          - test

...

Reset mocks on each test
  __tests__/main.test.ts
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

Update README.md
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

remove duplicate workflow
  .github/config/exclude.txt
  .github/workflows/json-yaml-validate.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

add 'Publishing a new release' to the docs
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

regex -> regular expression
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

Format with prettier
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

Update LICENSE to standard
  LICENSE
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

Change dependabot schedule
  .github/dependabot.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Add dependabot grouping
  .github/dependabot.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Expand workflow comments
  .github/workflows/check-dist.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Make consistent with other template actions
  .github/workflows/ci.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Grammar cleanup
  .github/workflows/linter.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Move and document CODEOWNERS
  CODEOWNERS
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

Enforce line-ending style
  .gitattributes
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

Remove unused js-yaml dev dependency
  package-lock.json
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Add missing perms
  .github/workflows/linter.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Update caution to important
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

Update CODEOWNERS
  CODEOWNERS
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

Create Ji
  Ji
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

Clarify release script usage
  README.md
  script/release
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

setup: Initialize project settings (#1)
  .node-version
  .prettierrc.json
  CODEOWNERS
  README.md
  __tests__/index.test.ts
  __tests__/main.test.ts
  __tests__/wait.test.ts
  badges/coverage.svg
  package-lock.json
  package.json
  src/index.ts
  src/main.ts
  src/wait.ts
  yarn.lock
Due: Add source label, Add configuration label, Add documentation label, Remove test label

feat: Initialize workflow
  .github/workflows/default.yml
  action.yml
  package.json
  src/main.ts
  src/wait.ts
  yarn.lock
Due: Add source label, Add configuration label, Remove documentation label, Remove test label

Add fetch depth
  .github/workflows/linter.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Fix actions linting errors
  .github/workflows/check-dist.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/linter.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Fix shfmt errors
  script/release
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

test: type the @actions/core spy/mock from the actual implementations
  __tests__/main.test.ts
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

Add devcontainer config
  .devcontainer/devcontainer.json
  .github/linters/.markdown-lint.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Add codespaces badge
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

Update npm scripts
  dist/index.js
  dist/index.js.map
  dist/sourcemap-register.js
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Remove button
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

initial commit
  LICENSE
  __tests__/fetchPullRequest.test.ts
  __tests__/main.test.ts
  __tests__/wait.test.ts
  action.yml
  dist/licenses.txt
  package-lock.json
  package.json
  src/fetchPullRequest.ts
  src/main.ts
  src/wait.ts
Due: Add source label, Add configuration label, Remove documentation label, Remove test label

Update devcontainer.json
  .devcontainer/devcontainer.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Fix dependencies
  dist/index.js
  dist/licenses.txt
  package-lock.json
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Rebuild dist
  dist/index.js.map
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

docs: fix rendering of warning in README.md
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

chore: update package.json
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

chore: remove CODEOWNERS
  CODEOWNERS
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

chore: fix formatting
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

docs: remove warning alert syntax
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

progress
  __tests__/fetchPullRequest.test.ts
  __tests__/main.test.ts
  action.yml
  src/fetchPullRequest.ts
  src/main.ts
Due: Add source label, Add configuration label, Remove documentation label, Remove test label
